.DS_Store
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSwing/nbproject/private/
/IdiomaSwing/build/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/SistemaEquacao/nbproject/private/
/SistemaEquacao/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador02/nbproject/private/
/Contador02/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/Exericio13/nbproject/private/
/Exericio13/build/
/Vetor01/nbproject/private/
/Vetor01/build/
/Vetor02/nbproject/private/
/Vetor02/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/ExercicioVetor/nbproject/private/
/ExercicioVetor/build/
/TesteFuncao01/nbproject/private/
/TesteFuncao01/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/
/Funcao01/nbproject/private/
/Funcao01/build/
/Funcao02/nbproject/private/
/Funcao02/build/